<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	DashboardWebApp</display-name>
	<servlet>		
		<servlet-name>CheckDashboardAvailableServlet</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.CheckDashboardAvailableServlet</servlet-class>		
	</servlet>
	<servlet>		
		<servlet-name>DashboardLogin</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.DashboardLogin</servlet-class>		
	</servlet>	
	<servlet>
		<servlet-name>DashboardTableServlet</servlet-name>
		<servlet-class>com.nyl.asap.dashboard.DashboardTableServlet</servlet-class>
	</servlet>
	<servlet>		
		<servlet-name>LoginServlet</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.LoginServlet</servlet-class>		
	</servlet>	
	<servlet>		
		<servlet-name>ManageAgentDashboardServlet</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.ManageAgentDashboardServlet</servlet-class>		
	</servlet>
	<servlet>		
		<servlet-name>ResetConnectionManagerServlet</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.ResetConnectionManagerServlet</servlet-class>		
	</servlet>	
	<servlet>		
		<servlet-name>ResetDashboardConfigFileServlet</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.ResetDashboardConfigFileServlet</servlet-class>		
	</servlet>	
	<servlet>		
		<servlet-name>ResetTemplateManagerServlet</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.ResetTemplateManagerServlet</servlet-class>		
	</servlet>	
	<servlet>		
		<servlet-name>ClearCache</servlet-name>		
		<servlet-class>com.nyl.asap.dashboard.ClearCache</servlet-class>		
	</servlet>
	<servlet>		
		<servlet-name>SingleValueLookupServlet</servlet-name>	
		<servlet-class>com.nyl.asap.dashboard.SingleValueLookupServlet</servlet-class>		
	</servlet>

	<servlet-mapping>		
		<servlet-name>CheckDashboardAvailableServlet</servlet-name>		
		<url-pattern>/servlet</url-pattern>	
	</servlet-mapping>
	<servlet-mapping>		
		<servlet-name>DashboardLogin</servlet-name>		
		<url-pattern>/servlet/</url-pattern>	
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardTableServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageAgentDashboardServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetConnectionManagerServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetDashboardConfigFileServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetTemplateManagerServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearCache</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingleValueLookupServlet</servlet-name>
		<url-pattern>/servlet/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index2.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
